/* Reset */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f0ebf8;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
  color: #333;
}

p,
label {
  color: #444;
}

input {
  border: none;
  border-bottom: solid #333 3px;
  border-radius: 2px;
  padding: 10px 0;
  width: 400px;
}

input[type="text"]
input[type="number"]
input[type="date"]
input[type="file"] {
  width: 400px;
}

.textearea-box textarea {
  width: 400px;
}

textarea {
  padding: 10px 5px;
}

/* page Header */
.header {
  height: 160px;
  padding: 20px;
  background-color: rgb(0, 104, 122);
}

.header h3 {
  color: #fff;
  margin-top: 0px;
}

/* Form Container */
.form-container {
  background-color: #fdfdfd;
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: -62px;
  border-radius: 20px;
}

/* form Header */
.form-header {
  border-bottom: 1px solid #333;
  height: 45px;
}

.form-header p{
  color: rgb(0, 104, 122);
  border-bottom: 2px solid rgb(0, 104, 122);
  width: 100px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  height: 45px;
  line-height: 45px
}

.form-body {
  padding: 30px;
}

.form-title {
  margin-bottom: 15px;
}

.form-body p {
  margin-bottom: 20px;
}

.required-field {
  color: #d80835;
}

.box-input {
  margin-bottom: 35px;
}

.block {
  display: block;
}

.optionals-box {
  margin: 0 30px 30px 0;
}

.optionals-list li {
  list-style: none;
  margin-bottom: 5px;
}

.box-input p {
  margin-bottom: 15px;
}

.btn-submit {
  background-color: rgb(0, 104, 122);
  color: #fff;
  border: 2px solid transparent;
  width: 485px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 3px;
  transition: 0.5s;
}

.btn-submit:hover {
  background-color: #f0ebf8;
  border: #444 2px solid;
  color: #333;
}